<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
  <meta charset="UTF-8"/>
  <title>{{ title }}</title>
  <base href="{{ base }}"/>
  <link href="view/javascript/bootstrap/css/bootstrap.css" rel="stylesheet" media="all"/>
  <script type="text/javascript" src="view/javascript/jquery/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="view/javascript/bootstrap/js/bootstrap.min.js"></script>
  <link href="view/javascript/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
  <link type="text/css" href="view/stylesheet/stylesheet.css" rel="stylesheet" media="all"/>
</head>
<body>
<div class="container">
  {% for recurring in recurrings %}
    <div style="page-break-after: always;">
      <h1>{{ recurring.recurring }}</h1>
      <table class="table table-bordered">
        <thead>
          <tr>
            <td colspan="2">{{ text_recurring_detail }}</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="width: 50%;">
              <address>
                <strong>{{ recurring.store_name }}</strong>
                <br/>
                {{ recurring.store_address }}
              </address>
              <b>{{ text_customer_group }}</b>: {{ recurring.customer_group }}
              <b>{{ text_telephone }}</b>: {{ recurring.store_telephone }}
              <br/>
              {% if recurring.store_fax %}
                <b>{{ text_fax }}</b>: {{ recurring.store_fax }}
                <br/>
              {% endif %}
              <b>{{ text_email }}</b>: {{ recurring.store_email }}
              <br/>
              <b>{{ text_website }}</b>: <a href="{{ recurring.store_url }}">{{ recurring.store_url }}</a>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered">
        <thead>
          <tr>
            <td><b>{{ column_product }}</b></td>
            <td><b>{{ column_model }}</b></td>
            <td class="text-right"><b>{{ column_quantity }}</b></td>
            <td class="text-right"><b>{{ column_price }}</b></td>
          </tr>
        </thead>
        <tbody>
          {% set product = recurring.product %}
          <tr>
            <td>{{ product.name }}
              {% for option in product.option %}
                <br/>
                &nbsp;<small> - {{ option.name }}: {{ option.value }}</small>
              {% endfor %}
            </td>
            <td>{{ product.model }}</td>
            <td class="text-right">{{ product.quantity }}</td>
            <td class="text-right">{{ product.price }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  {% endfor %}
</div>
</body>
</html>
