{{ header }}{{ column_left }}
<div id="content">
<div class="page-header">
  <div class="container-fluid">
    <div class="pull-right">
      <button type="submit" form="form-subscription" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
      <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
    <h1>{{ heading_title }}</h1>
    <ul class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="container-fluid">
  {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {% endif %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
    </div>
    <div class="panel-body">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-subscription" data-toggle="tab">{{ tab_subscription }}</a></li>
        <li><a href="#tab-history" data-toggle="tab">{{ tab_history }}</a></li>
        <li><a href="#tab-order" data-toggle="tab">{{ tab_order }}</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab-subscription">
          <ul class="nav nav-tabs" id="subscription">
            <li><a href="#subscription1" data-toggle="tab"> {{ text_subscription }}</a></li>
            <li><a href="#subscription2" data-toggle="tab"> {{ text_payment_address }}</a></li>
            <li><a href="#subscription3" data-toggle="tab"> {{ text_shipping_address }}</a></li>
            <li><a href="#subscription4" data-toggle="tab"> {{ text_shipping_method }}</a></li>
            <li><a href="#subscription5" data-toggle="tab"> {{ text_payment_method }}</a></li>
            <li><a href="#subscription6" data-toggle="tab"> {{ text_product }}</a></li>
          </ul>
          <div class="tab-content">
            <form id="form-subscription" class="form-horizontal">
              <div id="subscription1" class="tab-pane active">
                <fieldset>
                  <legend>{{ entry_date_added }}</legend>
                  <div class="row">
                    <div class="col-sm-10">
                      {{ date_added }}
                    </div>
                  </div>
                  <legend>{{ entry_order }}</legend>
                  <div class="row">
                    <div class="col-sm-10">
                      <a href="index.php?route=customer/customer/edit&user_token={{ user_token }}&customer_id={{ customer_id }}" target="_blank">{{ order_id }}</a>
                    </div>                  
                  </div>
                  <legend>{{ entry_customer }}</legend>
                  <div class="row">
                    <div class="col-sm-10">
                      <a href="index.php?route=customer/customer/edit&user_token={{ user_token }}&customer_id={{ customer_id }}" target="_blank">{{ firstname }} {{ lastname }}</a>
                      <br/>
                      <input type="text" name="customer" value="{{ firstname }} {{ lastname }}" placeholder="{{ entry_customer }}" id="input-customer" class="form-control"/>
                      <input type="hidden" name="customer_id" value="{{ customer_id }}" id="input-customer-id"/>
                    </div>                  
                  </div>
                  <legend>{{ entry_subscription_plan }}</legend>
                  <div class="row">
                    <div class="col-sm-10">
                      {{ subscription_plan }}
                    </div>
                  </div>
                  <legend>{{ entry_date_next }}</legend>
                  <div class="row">                    
                    <div class="col-sm-10">
                      {{ date_next }}
                    </div>
                  </div>
                  <legend>{{ entry_remaining }}</legend>
                  <div class="row">                    
                    <div class="col-sm-10">
                      {{ remaining }}
                    </div>
                  </div>
                </fieldset>
              </div>
              <div id="subscription2" class="tab-pane">
                <fieldset>
                  <legend>{{ entry_payment_name }}</legend>
                  <div class="row">
                    <div class="col-sm-10">
                      {% if payment_firstname %}
                        {{ payment_firstname }} {{ payment_lastname }}
                      {% endif %}
                    </div>
                  </div>
                  <legend>{{ entry_company }}</legend>
                  <div class="row">
                    <div class="col-sm-10">
                      {% if payment_company %}
                        {{ payment_company }}
                      {% endif %}
                    </div>
                  </div>
                  <legend>{{ entry_address_1 }}</legend>
                  <div class="row">
                    <div class="col-sm-10">
                      {% if payment_address_1 %}
                        {{ payment_address_1 }}
                      {% endif %}
                    </div>
                  </div>
                  <legend>{{ entry_address_2 }}</legend>
                  <div class="row">
                    <div class="col-sm-10">
                      {% if payment_address_2 %}
                        {{ payment_address_2 }}
                      {% endif %}
                    </div>
                  </div>
                  <legend>{{ entry_city }}</legend>
                  <div class="row">
                    <div class="col-sm-10">
                      {% if payment_city %}
                        {{ payment_city }}
                      {% endif %}
                    </div>
                  </div>
                  <legend>{{ entry_postcode }}</legend>
                  <div class="row">
                    <div class="col-sm-10">
                      {% if payment_postcode %}
                        {{ payment_postcode }}
                      {% endif %}
                    </div>
                  </div>
                  <legend>{{ entry_zone }}</legend>
                  <div class="row">
                    <div class="col-sm-10">
                      {% if payment_zone %}
                        {{ payment_zone }}
                      {% endif %}
                    </div>
                  </div>
                  <legend>{{ entry_country }}</legend>
                  <div class="row">
                    <div class="col-sm-10">
                      {% if payment_country %}
                        {{ payment_country }}
                      {% endif %}
                    </div>
                  </div>
                </fieldset>
              </div>
              <div id="subscription3" class="tab-pane">
                <fieldset>
                  <legend>{{ entry_shipping_name }}</legend>
                  <div class="row">
                    <div class="col-sm-10">
                      {% if shipping_firstname %}
                        {{ shipping_firstname }} {{ shipping_lastname }}
                      {% endif %}
                    </div>
                  </div>
                  <legend>{{ entry_company }}</legend>
                  <div class="row">
                    <div class="col-sm-10">
                      {% if shipping_company %}
                        {{ shipping_company }}
                      {% endif %}
                    </div>
                  </div>
                  <legend>{{ entry_address_1 }}</legend>
                  <div class="row">
                    <div class="col-sm-10">
                      {% if shipping_address_1 %}
                        {{ shipping_address_1 }}
                      {% endif %}
                    </div>
                  </div>
                  <legend>{{ entry_address_2 }}</legend>
                  <div class="row">
                    <div class="col-sm-10">
                      {% if shipping_address_2 %}
                        {{ shipping_address_2 }}
                      {% endif %}
                    </div>
                  </div>
                  <legend>{{ entry_city }}</legend>
                  <div class="row">
                    <div class="col-sm-10">
                      {% if shipping_city %}
                        {{ shipping_city }}
                      {% endif %}
                    </div>
                  </div>
                  <legend>{{ entry_postcode }}</legend>
                  <div class="row">
                    <div class="col-sm-10">
                      {% if shipping_postcode %}
                        {{ shipping_postcode }}
                      {% endif %}
                    </div>
                  </div>
                  <legend>{{ entry_zone }}</legend>
                  <div class="row">
                    <div class="col-sm-10">
                      {% if shipping_zone %}
                        {{ shipping_zone }}
                      {% endif %}
                    </div>
                  </div>
                  <legend>{{ entry_country }}</legend>
                  <div class="row">
                    <div class="col-sm-10">
                      {% if shipping_country %}
                        {{ shipping_country }}
                      {% endif %}
                    </div>
                  </div>
                </fieldset>
              </div>
              <div id="subscription4" class="tab-pane">
                <fieldset>
                  <legend>{{ entry_shipping_method }}</legend>
                  <div class="row">
                    <div class="col-sm-10">
                      {% if shipping_method %}
                        {{ shipping_method }}
                      {% endif %}
                    </div>
                  </div>
                </fieldset>
              </div>
              <div id="subscription5" class="tab-pane">
                <fieldset>
                  <legend>{{ entry_payment_method }}</legend>
                  <div class="row">
                    <div class="col-sm-10">
                      {% if payment_method %}
                        {{ payment_method }}
                      {% endif %}
                    </div>
                  </div>
                </fieldset>
              </div>
              <div id="subscription6" class="tab-pane">
                <fieldset>
                  <legend>{{ entry_product }}</legend>
                  <div class="row">
                    <div class="col-sm-10">
                      <input type="text" name="product" value="{{ product_id }}" placeholder="{{ entry_product }}" id="input-product" class="form-control"/>
                      <input type="hidden" name="product_id" value="{{ product_id }}" id="input-customer-id"/>
                    </div>                    
                  </div>
                </fieldset>
              </div>
              <input type="hidden" name="subscription_id" value="{{ subscription_id }}" id="input-subscription-id"/>
            </form>
          </div>
        </div>
        <div id="tab-history" class="tab-pane">
          <form id="form-history" class="form-horizontal">
            <fieldset>
              <legend>{{ text_history }}</legend>
              <div id="history"></div>
            </fieldset>
            <br/>
            <fieldset>
              <legend>{{ text_history_add }}</legend>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-comment">{{ entry_subscription_status }}</label>
                <div class="col-sm-10">
                  <select name="subscription_status_id" id="input-subscription-status" class="form-control"/>
                    {% for subscription_status in subscription_statuses %}
                      <option value="{{ subscription_status.subscription_status_id }}"{% if subscription_status.subscription_status_id == subscription_status_id %} selected{% endif %}>{{ subscription_status.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-override"><span data-toggle="tooltip" title="{{ help_override|escape('html') }}">{{ entry_override }}</span></label>
                  <div class="col-sm-10">                    
                    <div class="checkbox">                      
                      <label><input type="checkbox" name="override" value="1" id="input-override"/></label>
                    </div>
                  </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-notify">{{ entry_notify }}</label>
                <div class="col-sm-10">
                  <div class="checkbox">
                    <input type="checkbox" name="notify" value="1" id="input-notify"/>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-comment">{{ entry_comment }}</label>
                <div class="col-sm-10">
                  <textarea name="comment" rows="8" placeholder="{{ entry_comment }}" id="input-comment" class="form-control"/></textarea>
                </div>
              </div>
            </fieldset>
            <div class="text-right">
              <button id="button-history" data-loading-text="{{ text_loading }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i> {{ button_history_add }}</button>
            </div>
          </form>
        </div>
        <div id="tab-order" class="tab-pane">
          <form id="form-order" class="form-horizontal">
            <fieldset>
              <legend>{{ text_order }}</legend>
              <div id="order"></div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
$('#input-customer').autocomplete({
    'source': function(request, response) {
        $.ajax({
            url: 'index.php?route=customer/customer/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
            dataType: 'json',
            success: function(json) {
                response($.map(json, function(item) {
                    return {
                        category: item['customer_group'],
                        label: item['name'],
                        value: item['customer_id'],
                        customer_group_id: item['customer_group_id']
                    }
                }));
            }
        });
    },
    'select': function(item) {
        $('#input-customer').val(item['label']);
        $('#input-customer-id').val(item['value']);
        $('#input-customer-group').val(item['customer_group_id']);
    }
});

$('#input-product').autocomplete({
    'source': function(request, response) {
        $.ajax({
            url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
            dataType: 'json',
            success: function(json) {
                response($.map(json, function(item) {
                    return {
                        label: item['name'],
                        value: item['product_id'],
                        model: item['model']
                    }
                }));
            }
        });
    },
    'select': function(item) {
        $('#input-product').val(item['label']);
        $('#input-product-id').val(item['value']);
        $('#input-model').val(item['model']);
    }
});

$('#history').on('click', '.pagination a', function(e) {
    e.preventDefault();

    $('#history').load(this.href);
});

$('#button-history').on('click', function(e) {
    e.preventDefault();

    $.ajax({
        url: 'index.php?route=sale/subscription/addHistory&user_token={{ user_token }}&subscription_id=' + $('#input-subscription-id').val(),
        type: 'post',
        dataType: 'json',
        data: $('#form-history').serialize(),
        beforeSend: function() {
            $('#button-history').button('loading');
        },
        complete: function() {
            $('#button-history').button('reset');
        },
        success: function(json) {
            $('.alert-dismissible').remove();

            if (json['error']) {
                $('#tab-history').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
            }

            if (json['success']) {
                $('#tab-history').prepend('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');

                $('#history').load('index.php?route=sale/subscription/history&user_token={{ user_token }}&subscription_id=' + $('#input-subscription-id').val());

                $('#tab-history textarea[name=\'comment\']').val('');
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

$('#order').on('click', '.pagination a', function(e) {
    e.preventDefault();

    $('#order').load(this.href);
});
//--></script></div>
{{ footer }}
