{{ header }}
<div id="account-gdpr" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
	  <h1>{{ heading_title }}</h1>
      <p>{{ text_gdpr|format(store, gdpr, title) }}</p>
	  <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
	    <fieldset>
          <legend id="account">{{ text_verification }}</legend>
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-email">{{ entry_email }}</label>
            <div class="col-sm-10">
              <input type="text" name="email" value="{{ email }}" id="input-email" class="form-control"/>
              {% if error_email %}
                <div class="text-danger">{{ error_email }}</div>
              {% endif %}
            </div>
          </div>
		</fieldset>
		<fieldset>
          <legend id="action">{{ text_action }}</legend>
		  <div class="form-group">
            <label for="input-export" class="col-sm-2 control-label">{{ entry_shipping }}</label>
            <div class="col-sm-10">
              <label class="radio-inline">
                 <input type="radio" name="action" value="export" id="input-export" checked="checked"/>
                <strong>{{ text_export }}</strong></label> 
			  <label class="radio-inline">
                <input type="radio" name="action" value="remove" id="input-remove"/>
                <strong>{{ text_remove }}</strong></label>
            </div>
          </div>
		  <div id="collapse-remove" class="alert alert-warning collapse">
            <p><i class="fa fa-exclamation-triangle"></i> {{ text_warning }}</p>
            <ul>
              <li>{{ text_access|format(store) }}</li>
              <li>{{ text_history }}</li>
              <li>{{ text_limit|format(limit) }}</li>
            </ul>
          </div>
		</fieldset>
	  </form>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
$('input[name=\'action\']').on('change', function() {
    if (this.value == 'remove') {
        $('#collapse-remove').slideDown();
    } else {
        $('#collapse-remove').slideUp();
    }
});
//--></script>
{{ footer }}