<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <td class="text-center">{{ column_email }}</td>
        <td class="text-left">{{ column_request }}</td>
        <td class="text-left">{{ column_status }}</td>
        <td class="text-left">{{ column_date_added }}</td>
		    <td class="text-right">{{ column_action }}</td>
      </tr>
    </thead>
    <tbody>
      {% if gdprs %}
        {% for gdpr in gdpr %}
          <tr>
            <td style="width: 1px;" class="text-center">
              <input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);"/></td>
            <td class="text-center">
              {% if gdpr.edit %}
                <a href="{{ gdpr.edit }}">{{ gdpr.email }}</a>
              {% else %}
                {{ gdpr.email }}
              {% endif %}
            </td>
            <td class="text-left">{{ gdpr.action }}</td>
            <td class="text-left">
              {% if gdpr.status == '-1' %}
                <span class="badge bg-danger">{{ text_denied }}</span>
              {% elseif gdpr.status == '0' %}
                <span class="badge bg-secondary">{{ text_unverified }}</span>
              {% elseif gdpr.status == '1' %}
                <span class="badge bg-warning">{{ text_pending }}</span>
              {% elseif gdpr.status == '2' %}
                <span class="badge bg-info">{{ text_processing }}</span>
              {% elseif gdpr.status == '3' %}
                <span class="badge bg-success">{{ text_complete }}</span>
              {% endif %}</td>
            <td class="text-left">{{ customer.date_added }}</td>
            <td class="text-right">{{ column_action }}</td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td class="text-center" colspan="5">{{ text_no_results }}</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-sm-6 text-left">{{ pagination }}</div>
  <div class="col-sm-6 text-right">{{ results }}</div>
</div>